<div class="floating-box show-once">
	<div class="floating-btn"><span class="sale-percent">%</span></div> <span class="floating-desc"></span>
	<span class="floating-desc-text">{{{text}}}</span>
</div>

<div class="arrow-to-button">
	<div class="arrow-cloud">
		<span>{{{description}}}</span></div>
</div>