<div class="ov"></div>
<div class="discount-modal">
	<span class="close"></span>

	<h1>Спасибо за ваш выбор!</h1>

	<p>Ваша заявка на скидку оформлена! В ближайшее время с вами свяжется оператор.</p>
</div>