.discount-modal {

	* {
		font-family: "HelveticaNeue-Light", ​Helvetica, sans-serif;
		font-weight: normal;
		box-sizing:  border-box;
	}

	z-index:     999;
	position:    fixed;
	width:       816px;
	top:         50%;
	left:        50%;
	margin-left: -435px;
	margin-top:  -295px;
	background:  #fff;
	box-shadow:  0 0 20px rgba(0, 0, 0, 0.2);
	padding:     40px 46px 10px;
	font-family: 'opensans-regular', Helvetica, sans-serif;
	box-sizing:  border-box;

	.owl-carousel {
		overflow:   hidden;
		border:     1px solid #c3c3c3;
		background: #fff;
	}

	h1 {
		margin-top: -14px;
	}

	h4 {
		color:         #f00;
		text-align:    center;
		font-size:     25px;
		margin-bottom: 40px;
		margin-top:    0;
	}
	.close {
		cursor:     pointer;
		width:      22px;
		height:     22px;
		background: #fff url('img/close.jpg') 0 0 no-repeat;
		position:   absolute;
		right:      10px;
		top:        10px;
		opacity:    1;
	}
	.img-wrap {
		display:    block;
		margin:     0 auto 1em;
		height:     160px;
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	.item {
		font-size: 13px;
		padding:   20px 10px;
		width:     auto;
		cursor:    pointer;
		.discount {
			display:     block;
			margin-left: 0;
			color:       #f00;
			font-size:   14px;
			text-align:  center;
		}
	}

	.message {
		color:       #797979;
		margin-top:  20px;
		margin-left: -100px;
		text-align:  center;
		font-size:   0.8em;
	}

	.what-is {
		color:         #585858;
		font-size:     1.1em;
		float:         right;
		cursor:        pointer;
		border-bottom: 1px dotted #585858;
		margin-right:  -20px;
	}

	.btn-cnt {
		text-align: center;
	}

	.go-back {
		display:       inline-block;
		cursor:        pointer;
		padding:       15px 12px;
		background:    #e8e8e8;
		box-shadow:    inset 1px 1px 1px 1px rgba(255, 255, 255, .1), inset -1px -1px 1px 1px rgba(0, 0, 0, .05);
		border-radius: 7px;
		color:         #4b4b4b !important;
		font-size:     16px;
		line-height:   19px;
		margin:        20px auto;
	}
}

.old-price {
	color:           #000;
	font-weight:     normal;
	text-decoration: line-through;
}

.discount .old-price {
	margin-left: 5px;
}

.discount-modal {
	.lb {
		display: block;
	}
	.title {
		display:       block;
		font-size:     11px;
		margin-bottom: 10px;
		line-height:   14px;
		color:         #000;
	}
	.red-price {
		display:    block;
		text-align: center;

		.label {
			color:     #f00;
			font-size: 16px;
			padding:   0;
		}

		.price {
			font-size: 18px;
			color:     #000;
		}
		.rub {
			color: #000;
		}
	}
	.green-price {
		display: block;
	}
	.owl-item {
		min-height: 292px;
		.item {
			overflow:           hidden;
			margin:             0;
			padding:            9px 15px;
			width:              240px;
			height:             292px;
			border:             1px solid transparent;
			border-left-color:  #c3c3c3;
			border-right-width: 0;
			position:           relative;
		}
		&:first-child .item, &.active ~ .owl-item {
			border-left-color: transparent;
		}
		.selected {
			width:              241px;
			margin-right:       -1px;
			border-right-width: 1px;
			z-index:            1;
			border-color:       #f00 !important;
			box-shadow:         inset 0 0 0 1px #fe7a76;
			&.item {
			}
		}
	}
	.owl-prev {
		z-index:     50;
		width:       40px;
		height:      46px;
		position:    absolute;
		top:         50%;
		margin-top:  -23px;
		left:        0;
		right:       0;
		text-indent: -9999px;
		background:  url('img/controls.png') 50% 0 no-repeat;
		opacity:     0.2;
	}
	.owl-next {
		z-index:     50;
		width:       40px;
		height:      46px;
		position:    absolute;
		top:         50%;
		margin-top:  -23px;
		text-indent: -9999px;
		opacity:     0.2;
		left:        auto;
		right:       0;
		background:  url('img/controls.png') no-repeat 50% -46px;
	}
}

.phone-form {
	margin-top: 46px;
	label {
		font-weight: normal;
		font-size:   20px;
		color:       #0c0c0c;
	}
	#phone {
		border:        none;
		border-bottom: 1px solid #a7a6a6;
		font-size:     34px;
		width:         300px;
		margin-right:  15px;
		text-align:    center;
	}
	input {
		&[type="text"] {
			padding:       10px;
			margin:        0 5px;
			width:         418px;
			height:        60px;
			border:        1px solid #bbb;
			border-radius: 8px;
			color:         #7a7878;
			font-size:     20px;
			text-align:    center;

			&.l {
				width: 520px;
			}
		}
		&[type="submit"] {
			padding:          0 22px;
			background:       #47a900;
			background-image: -webkit-linear-gradient(to top, #3b9b00, #57ba00);
			background-image: linear-gradient(to top, #3b9b00, #57ba00);
			box-shadow:       inset 0 1px 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
			border-radius:    8px;
			text-align:       center;
			color:            #fff;
			height:           60px;
			width:            188px;
			font-size:        21px;
			border:           none;
			font-weight:      normal;
		}
	}
}

@media (max-width: 900px) {
	.discount-modal {
		width:       320px;
		margin-left: -160px;
		padding:     50px 10px 10px;
		h4 {
			font-size:     12px;
			margin-bottom: 10px;
		}
		.phone-form {
			margin:     10px 0 0;
			text-align: center;
			input[type="text"] {
				width:         280px;
				margin-bottom: 10px;
			}
		}
	}
}

.ov {
	&.w-gray-bg {
		background-color: rgba(200, 200, 200, 0.7);
	}
}